.glyphicon-ok {
    color: green;
}

.glyphicon-remove {
    color: red;
}

.service-selector {
    margin-bottom: 1em;
}

.service-tabs {
    margin-top: 2em;
}

.configuration-values-table {
    margin-top: 1em;
}

.type {
    margin-top: 2em;
}

.action {
    margin-top: 2em;
}

.action-inputs-outputs {
    margin-top: 2em;
    clear: both;
}

.action-tester-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1500;
}

.action-tester-background {
    background-color: #ddd;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.action-tester {
    position: absolute;
    width: 95%;
    height: 95%;
    top: 2.5%;
    left: 2.5%;
    background: white;
    border: 1px solid #ddd;
    padding: 1em;
}

.service-buttons .btn {
    margin-right: 0.5em;
}

.input-details {
    margin-bottom: 0.5em;
}
